.main-about {
    width: auto;
    padding: 5%;
    background-color: lightblue;
    border-radius: 20px;
    margin: 5%;
}



.main-julia {
    width: auto;
    padding: 5%;
    background-color: lightblue;
    border-radius: 20px;
    margin: 5%;
}