html{
    background-color: lightgrey;
}

body {
    margin-left: 15vw;
    margin-right: 15vw;
    margin: 0 15vw;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

a {
  color: inherit;
}
.carousel-inner {
    height: 600px; 
  }
  
  .carousel-img {
    max-width: 100%;
    width: auto; 
    margin: 0 auto;
  }



/* Mobile devices (phones, up to 767px) */
@media only screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

/* Tablet devices (iPad, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bone {
    display: none;
  }
  .row {
    flex-direction: column;

  }
}

/* Desktop devices (992px and up) */
@media only screen and (min-width: 992px) {
  .bone {
    transform: scale(-1, 1);
  }
}




/*footer*/

  footer {
    background-color: #ffff;
    padding: 40px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
  }
  
  
  .social-media-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  
  .social-media-footer img {
    width: 24px;
    height: 24px;
  }
  
  .newsletter-signup {
    text-align: center;
  }
  
  .newsletter-signup form {
    margin-bottom: 10px;
  }
  
  .newsletter-signup input {
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
  }
  
  .newsletter-signup button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }